

.color-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.color-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-box {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}

.selected {
  border: 2px solid black;
}

button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.color-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.color-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-box {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}

.selected {
  border: 2px solid black;
}

button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.selected-color-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-color {
  width: 100px; /* Increase the size as desired */
  height: 100px; /* Increase the size as desired */
}

.selected-color-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-color {
  margin-bottom: 10px;
  padding-top: 10px;
  width: 500px;
  height: 500px;
}
